<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'APP_TITLE' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-icon name="md-contact" item-start></ion-icon>
                Wellcome <br>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            It's a great da¡'0ii to ask or do a favour
        </ion-card-content>
    </ion-card>
    <ion-row>
        <ion-col>
            <button ion-button block (click)="closeSesion()">{{ 'CLOSE_SESSION' | translate }}</button>
        </ion-col>
    </ion-row>

    <div *ngIf="myFavours?.length > 0">
        Favores que has pedido
        <ion-list>
            <ion-item *ngFor="let favour of myFavours; let i=index" (click)="showFavour(favour)">
                <ion-avatar item-start>
                    <img src="img/avatar-finn.png">
                </ion-avatar>
                <h2>{{ favour.title }}</h2>
                <h3>{{ favour.description }}</h3>
                <p>{{ favour.id }}</p>
            </ion-item>
        </ion-list>
    </div>

    <div>
        <button ion-button block (click)="askFavour()">Pedir un &nbsp; <span *ngIf="myFavours?.length > 0"> nuevo </span> &nbsp;favor</button>
    </div>

    <div *ngIf="myFavours?.length == 0">
        Aún no has pedido ningún favor
        <button ion-button block (click)="askFavour()">Pedir un favor</button>




    </div>


    <div *ngIf="favoursIllDo?.length > 0">
        Favores que vas a hacer
        <ion-list>
            <ion-item *ngFor="let favour of favoursIllDo; let i=index" (click)="showFavour(favour)">
                <ion-avatar item-start>
                    <img src="img/avatar-finn.png">
                </ion-avatar>
                <h2>{{ favour.title }}</h2>
                <h3>{{ favour.description }}</h3>
                <p>{{ favour.id }}</p>
            </ion-item>
        </ion-list>
    </div>



    <div *ngIf="favoursInMyLocation?.length > 0">
        Favores en {{ address }}
        <ion-list>
            <ion-item *ngFor="let favour of favoursInMyLocation; let i=index" (click)="showFavour(favour)">
                <ion-avatar item-start>
                    <img src="img/avatar-finn.png">
                </ion-avatar>
                <h2>{{ favour.title }}</h2>
                <h3>{{ favour.description }}</h3>
                <p>{{ favour.id }}</p>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="favoursWithoutLocation?.length > 0">
        Favores sin localización
        <ion-list>
            <ion-item *ngFor="let favour of favoursWithoutLocation; let i=index" (click)="showFavour(favour)">
                <ion-avatar item-start>
                    <img src="img/avatar-finn.png">
                </ion-avatar>
                <h2>{{ favour.title }}</h2>
                <h3>{{ favour.description }}</h3>
                <p>{{ favour.id }}</p>
            </ion-item>
        </ion-list>
    </div>
</ion-content>