<ion-header>

    <ion-navbar>
        <ion-title>List of all Favours</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div>
        <p class="primary-color-text center uppercase">
            {{ pageTitle | translate }} <span *ngIf="pageTitle == 'LIST_OF_ALL_FAVOUR_IN'"> {{ location }}</span>
        </p>
        <ion-list>
            <ion-item *ngFor="let favour of favoursArray let i=index" (click)="showFavour(favour)" color="primary">
                <h2>{{ favour.title }}</h2>
                <h3>{{ favour.description }}</h3>
                <p>{{ 'ASKED_BY'| translate}} {{ favour.askedName }}</p>
            </ion-item>
        </ion-list>
    </div>

</ion-content>