<ion-header>
    <ion-navbar>
        <ion-title>
            <!-- {{ 'ASK_FAVOR' | translate }} -->
            'ASK_FAVOR'
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            Asking a favour
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="todo" (ngSubmit)="askAFavour()">
                <ion-item>
                    <ion-label floating>Title</ion-label>
                    <ion-input type="text" formControlName="title"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Description</ion-label>
                    <ion-textarea formControlName="description" style="height: 200px;"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label>The favour has deadline</ion-label>
                    <ion-toggle formControlName="expiration"></ion-toggle>
                </ion-item>
                <ion-list *ngIf="todo.value.expiration">
                    <ion-item>
                        <ion-label floating>Last Date</ion-label>
                        <ion-datetime displayFormat="DD MM YYYY" formControlName="expirationDate"></ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Last Hour</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="expirationHour"></ion-datetime>
                    </ion-item>
                </ion-list>
                <ion-item>
                    <ion-label>Do you want offer a tip?</ion-label>
                    <ion-toggle formControlName="tip"></ion-toggle>
                </ion-item>
                <ion-item *ngIf="todo.value.tip">
                    <ion-label>Tip amount: {{todo.value.tipAmount}} €</ion-label>
                    <ion-range min="1" max="10" pin="true" formControlName="tipAmount">
                        <ion-label range-left>1 €</ion-label>
                        <ion-label range-right>10 €</ion-label>
                    </ion-range>
                </ion-item>


                <ion-item>
                    <ion-label>Needs to go somewhere?</ion-label>
                    <ion-toggle formControlName="goToSomewhere"></ion-toggle>
                </ion-item>

                <div [hidden]="!todo.value.goToSomewhere">
                    <ion-item>
                        <ion-label floating>Place to go</ion-label>
                        <ion-input type="text" [(ngModel)]="todo.placeToGo" formControlName="placeToGo"></ion-input>
                    </ion-item>

                    <a ion-button small (click)="setCurrentPosition()">Set to my current position</a>

                    <div id="map"></div>
                </div>




                <button ion-button type="submit" [disabled]="!todo.valid">Submit</button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>