<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'ASK_FAVOR'| translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            {{ 'ASKING_FAVOUR'| translate}}
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="todo" (ngSubmit)="askAFavour()">
                <ion-item>
                    <ion-label floating> {{ 'TITLE'| translate}}</ion-label>
                    <ion-input type="text" formControlName="title"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>{{ 'DESCRIPTION'| translate}}</ion-label>
                    <ion-textarea formControlName="description" style="height: 200px;"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label>{{ 'FAVOUR_HAS_DEADLINE'| translate}}</ion-label>
                    <ion-toggle formControlName="expiration"></ion-toggle>
                </ion-item>
                <ion-list *ngIf="todo.value.expiration">
                    <ion-item>
                        <ion-label floating>{{ 'LAST_DATE'| translate}}</ion-label>
                        <ion-datetime displayFormat="DD MM YYYY" formControlName="expirationDate"></ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>{{ 'LAST_HOUR'| translate}}</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="expirationHour"></ion-datetime>
                    </ion-item>
                </ion-list>
                <ion-item>
                    <ion-label>{{ 'OFFER_TIP'| translate}}</ion-label>
                    <ion-toggle formControlName="tip"></ion-toggle>
                </ion-item>
                <ion-item *ngIf="todo.value.tip">
                    <ion-label>{{ 'TIP_AMOUNT'| translate}}: {{todo.value.tipAmount}} €</ion-label>
                    <ion-range min="1" max="10" pin="true" formControlName="tipAmount">
                        <ion-label range-left>1 €</ion-label>
                        <ion-label range-right>10 €</ion-label>
                    </ion-range>
                </ion-item>


                <ion-item>
                    <ion-label>{{ 'LOCATION_FAVOUR'| translate}}</ion-label>
                    <ion-toggle formControlName="goToSomewhere"></ion-toggle>
                </ion-item>

                <div [hidden]="!todo.value.goToSomewhere">
                    <ion-item>
                        <ion-label floating>{{ 'LOCATION'| translate}}</ion-label>
                        <ion-input disabled="true" type="text" [(ngModel)]="todo.location" formControlName="location"></ion-input>
                    </ion-item>

                    <div id="map"></div>
                </div>

                <button ion-button type="submit" [disabled]="!todo.valid">{{ 'SUBMIT'| translate}}</button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>